body {
  background-image: url('img/spring-5000242_1920.jpg');
  background-image: url('img/pexels-ruvim-3560044.jpg');
  background-image: url('img/pexels-kasuma-1785493.jpg');
  background-image: url('img/pexels-k-zoltan-544554.jpg');
  font-family: 'Pattaya', sans-serif;
  background-size: 100%;
  min-height: 100%;
  min-width: 100%;
}
.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: animate 16s ease-in-out infinite;
  background-size: cover;
}
@keyframes animate {
  0%,
  100% {
    background-image: url(/spring-5000242_1920.jpg);
  }
  25% {
    background-image: url(/pexels-ruvim-3560044.jpg);
  }
  50% {
    background-image: url(/pexels-kasuma-1785493.jpg);
  }
  75% {
    background-image: url(/pexels-k-zoltan-544554.jpg);
  }
}

.header {
  text-align: center;
  margin-bottom: 100px;
  color: azure;
}
.data {
  margin-left: 20vw;
}
.box {
  border: 3px solid purple;
  margin-right: 50vw;
  padding: 10px;
  background-color: snow;
}
